## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500

application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter classifications that occur more than once
classification_counts_gt_1 = classification_counts[classification_counts > 1]
print(classification_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Define a cutoff value (e.g., 1000)
cutoff = 1000

# Create a list of classifications to replace
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Print the classifications that will be replaced
print(f"Classifications to replace: {classifications_to_replace}")

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

Classifications to replace: ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

In [11]:
# Split our preprocessed data into our features and target arrays
application_df_encoded = pd.get_dummies(application_df)

# Split the preprocessed data into a training and testing dataset
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL']) 
y = application_df_encoded['IS_SUCCESSFUL']

In [12]:
# Verify the encoded DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                   False
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                  True                 False                False
1                 False                 False                 True
2                 False                 False                False
3                 False                 False                 True
4                 False                 False                 True

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                False                 True                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 44 columns]

In [13]:
# Split the data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (27439, 43)
Testing data shape: (6860, 43)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Check the scaled data shapes to confirm
print(f"Scaled Training data shape: {X_train_scaled.shape}")
print(f"Scaled Testing data shape: {X_test_scaled.shape}")

Scaled Training data shape: (27439, 43)
Scaled Testing data shape: (6860, 43)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
print(f"Number of input features: {input_features}")

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Number of input features: 43

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
nn.compile(optimizer='adam', 
           loss='binary_crossentropy', 
           metrics=['accuracy'])

In [18]:
# Train the model
history = nn.fit(X_train_scaled, y_train, 
                 validation_data=(X_test_scaled, y_test), 
                 epochs=50)

Epoch 1/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 568us/step - accuracy: 0.7012 - loss: 0.5861 - val_accuracy: 0.7276 - val_loss: 0.5616
Epoch 2/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7338 - loss: 0.5480 - val_accuracy: 0.7220 - val_loss: 0.5625
Epoch 3/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.7310 - loss: 0.5501 - val_accuracy: 0.7236 - val_loss: 0.5628
Epoch 4/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7294 - loss: 0.5515 - val_accuracy: 0.7280 - val_loss: 0.5575
Epoch 5/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.7355 - loss: 0.5437 - val_accuracy: 0.7227 - val_loss: 0.5630
Epoch 6/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - accuracy: 0.7319 - loss: 0.5475 - val_accuracy: 0.7271 - val_loss: 0.5579
Epoch 7/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.7336 - loss: 0.5477 - val_accuracy: 0.7254 - val_loss: 0.5589
Epoch 8/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.7323 - loss: 0.5458 - val_accuracy: 0.7270 - val_loss: 0.5555
Epoch 9/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7352 - loss: 0.5441 - val_accuracy: 0.7236 - val_loss: 0.5570
Epoch 10/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7343 - loss: 0.5433 - val_accuracy: 0.7254 - val_loss: 0.5607
Epoch 11/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - accuracy: 0.7332 - loss: 0.5421 - val_accuracy: 0.7261 - val_loss: 0.5569
Epoch 12/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.7295 - loss: 0.5499 - val_accuracy: 0.7276 - val_loss: 0.5585
Epoch 13/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.7416 - loss: 0.5372 - val_accuracy: 0.7265 - val_loss: 0.5566
Epoch 14/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7362 - loss: 0.5423 - val_accuracy: 0.7303 - val_loss: 0.5592
Epoch 15/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.7363 - loss: 0.5391 - val_accuracy: 0.7271 - val_loss: 0.5583
Epoch 16/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.7353 - loss: 0.5448 - val_accuracy: 0.7255 - val_loss: 0.5579
Epoch 17/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 571us/step - accuracy: 0.7393 - loss: 0.5385 - val_accuracy: 0.7274 - val_loss: 0.5570
Epoch 18/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7308 - loss: 0.5492 - val_accuracy: 0.7248 - val_loss: 0.5590
Epoch 19/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.7413 - loss: 0.5351 - val_accuracy: 0.7280 - val_loss: 0.5576
Epoch 20/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.7383 - loss: 0.5383 - val_accuracy: 0.7232 - val_loss: 0.5589
Epoch 21/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.7371 - loss: 0.5417 - val_accuracy: 0.7235 - val_loss: 0.5584
Epoch 22/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.7351 - loss: 0.5446 - val_accuracy: 0.7239 - val_loss: 0.5572
Epoch 23/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7387 - loss: 0.5378 - val_accuracy: 0.7241 - val_loss: 0.5567
Epoch 24/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7354 - loss: 0.5427 - val_accuracy: 0.7255 - val_loss: 0.5584
Epoch 25/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7426 - loss: 0.5313 - val_accuracy: 0.7270 - val_loss: 0.5564
Epoch 26/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.7361 - loss: 0.5416 - val_accuracy: 0.7271 - val_loss: 0.5577
Epoch 27/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7424 - loss: 0.5372 - val_accuracy: 0.7255 - val_loss: 0.5587
Epoch 28/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.7363 - loss: 0.5414 - val_accuracy: 0.7249 - val_loss: 0.5583
Epoch 29/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - accuracy: 0.7346 - loss: 0.5415 - val_accuracy: 0.7258 - val_loss: 0.5586
Epoch 30/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.7410 - loss: 0.5355 - val_accuracy: 0.7286 - val_loss: 0.5582
Epoch 31/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - accuracy: 0.7379 - loss: 0.5395 - val_accuracy: 0.7264 - val_loss: 0.5580
Epoch 32/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7356 - loss: 0.5396 - val_accuracy: 0.7271 - val_loss: 0.5567
Epoch 33/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7384 - loss: 0.5378 - val_accuracy: 0.7270 - val_loss: 0.5577
Epoch 34/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.7344 - loss: 0.5427 - val_accuracy: 0.7251 - val_loss: 0.5599
Epoch 35/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.7350 - loss: 0.5425 - val_accuracy: 0.7268 - val_loss: 0.5611
Epoch 36/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.7386 - loss: 0.5374 - val_accuracy: 0.7251 - val_loss: 0.5583
Epoch 37/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.7351 - loss: 0.5409 - val_accuracy: 0.7271 - val_loss: 0.5589
Epoch 38/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7447 - loss: 0.5301 - val_accuracy: 0.7283 - val_loss: 0.5578
Epoch 39/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.7357 - loss: 0.5375 - val_accuracy: 0.7293 - val_loss: 0.5570
Epoch 40/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 598us/step - accuracy: 0.7430 - loss: 0.5319 - val_accuracy: 0.7258 - val_loss: 0.5594
Epoch 41/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.7402 - loss: 0.5364 - val_accuracy: 0.7254 - val_loss: 0.5585
Epoch 42/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.7385 - loss: 0.5366 - val_accuracy: 0.7259 - val_loss: 0.5607
Epoch 43/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.7415 - loss: 0.5320 - val_accuracy: 0.7255 - val_loss: 0.5600
Epoch 44/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.7359 - loss: 0.5399 - val_accuracy: 0.7245 - val_loss: 0.5593
Epoch 45/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7391 - loss: 0.5357 - val_accuracy: 0.7277 - val_loss: 0.5596
Epoch 46/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.7377 - loss: 0.5395 - val_accuracy: 0.7276 - val_loss: 0.5603
Epoch 47/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7382 - loss: 0.5383 - val_accuracy: 0.7230 - val_loss: 0.5642
Epoch 48/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.7393 - loss: 0.5370 - val_accuracy: 0.7246 - val_loss: 0.5614
Epoch 49/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - accuracy: 0.7444 - loss: 0.5319 - val_accuracy: 0.7273 - val_loss: 0.5600
Epoch 50/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.7381 - loss: 0.5396 - val_accuracy: 0.7252 - val_loss: 0.5595

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 298us/step - accuracy: 0.7252 - loss: 0.5595
Loss: 0.559546709060669, Accuracy: 0.725218653678894

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

# Check if the file exists in the current directory
print("AlphabetSoupCharity.h5" in os.listdir())

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

True